<html>

<head>
  <%- include('header/head') %>
  
  <!-- 10초 주기로 페이지 새로고침 -->
  <META HTTP-EQUIV="refresh" CONTENT="10"> 

</head>

<body>
  <script>
    let userData = {};
    try {
      userData = { key: sessionStorage.getItem('account') };
    } catch (e) {
      location.href = "/";
    }
  </script>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">이더 과외매칭</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/MyPage">마이페이지</a>
          </li>

          <li class="nav-item" id="regStudent">
            <script>
              const regStudent = document.getElementById("regStudent");
              if (userData.key != null) {
                regStudent.innerHTML = "<a class=nav-link href='/user/registerStudent'>학생등록</a>";
              }

            </script>
          </li>

          <li class="nav-item" id="regTutor">
            <script>
              const regTutor = document.getElementById("regTutor");
              if (userData.key != null) {
                regTutor.innerHTML = "<a class=nav-link href='/user/registerTutor'>선생님등록</a>";
              }

            </script>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Chatting">채팅상담</a>
          </li>

          <li class="nav-item" style="color:white;" id="login_li">
            <script>
              const login_li = document.getElementById("login_li");
              login_li.innerHTML = "<a class=nav-link><strong>" + userData.key + "</strong> 님 안녕하세요!</a>";
            </script>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login/LogOut">로그아웃</a>
          </li>

      </div>
    </div>
  </nav>




  <div class="container">

    <header class="jumbotron my-4">
      <h1 class="display-3">관리자와 자유롭게 채팅하세요</h1>
      <p class="lead">채팅은 Whisper 프로토콜 기반으로 이루어집니다 </p>
    </header>
    <div class="row text-center">
      <div class=" col-md-6 mb-4">
        <form class="chatting-form" action="/ChattingForm" method="POST">
          <h3>클라이언트 용</h3>
          <input class="newitem-form" type="text" name="sendername" placeholder="이름을 입력하세요"> <br>
          <input class="newitem-form" type="text" name="sendermsg" placeholder="관리자에게 보낼 메세지를 입력하세요"> <br>
          <h3>관리자용</h3>
          <input class="newitem-form" type="text" name="adminmsg" placeholder="클라이언트에게 보낼 메세지를 입력하세요"> <br>
          <input class="btn btn-primary newitem-btn" type="submit" value="전송">
        </form>
      </div>




      <div class=" col-md-6 mb-4">
        <div class="card-chat">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted text-left">Admin</h6>
            <p class="card-text float-left">궁금한것은 무엇이든 물어보세요!</p>
          </div>
        </div>
        <hr>

        <% 
          for(var i = 0; i < msgs.length; i++){ 
            if(msgs[i].name=="Admin"){
          %>
        <div class="card-chat">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted text-left">Admin  (<%=msgs[i].time%>)</h6>
            <p class="card-text float-left"><%= msgs[i].adminmsg %> </p>
          </div>
        </div>
        <hr>
        <% } else{%>

        <div class="card-chat">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted text-right" id="insertSession">
                <%= msgs[i].name %>  (<%=msgs[i].time%>)
            </h6>
            <p class="card-text float-right">
              <%= msgs[i].sendermsg %>
            </p>
          </div>
        </div>
        <hr>
        <% } }%>

      </div>
    </div>


    <!-- /.container -->

  </div>



</body>

</html>